:root {
    --y-in-mn-blue: #355070;
    --chinese-violet: #6d597a;
    --rose-dust: #b56576;
    --candy-pink: #e56b6f;
    --tumbleweed: #eaac8b;
    --special-black: #0c0f0a;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--candy-pink);
    font-family: 'Alegreya', sans-serif;
}

a {
    text-decoration: none;
    color: var(--special-black);
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/* HEADER - MENU - PESQUISA */

#header {
    position: relative;
    top: 0;
    width: 100%;
    min-height: auto;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--rose-dust);
}

.logo img {
    width: 116px;
    display: flex;
}

nav {
    width: 100%;
    display: flex;
}

#menuToggle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: 700;
    background-color: var(--rose-dust);
    font-size: 1.2rem;
}

#menuToggle input,
span {
    display: none;
}

#menuToggle ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}
#menuToggle ul li {
    padding: 8px 10px;
    border-bottom: 3px solid var(--rose-dust);
    color: var(--black);
    height: 100%;
}
#menuToggle ul a{
    padding: 5px;
}

#menuToggle ul a:hover {
    background-color: var(--chinese-violet);
    border-bottom: 3px solid var(--candy-pink);
    color: var(--white);
}
#menuToggle ul a.active {
    background-color: var(--y-in-mn-blue);
    color: var(--white);
}

/* MENU HAMBURGUER */
@media (max-width: 750px) {
    nav {
        width: 100%;

    }

    #menuToggle {
        display: block;
        position: relative;
        z-index: 1;
        user-select: none;
        margin-top: 20px;
        margin-left: 20px;
    }

    #menuToggle a {
        color: var(--special-black);
        text-decoration: none;
        width: 100%;
        padding: 5px;
        transition: color 0.3s ease;
    }

    #menuToggle ul a:hover {
        color: var(--white);
        border-bottom: none;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        list-style-type: none;
        transform-origin: 0% 0%;
        transform: translate(-150%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        flex-direction: column;
        background-color: var(--candy-pink);
    }

    #menuToggle ul li {
        padding: 10px 0;
        border-bottom: none;
        display: flex;
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }
}
/* FIM MENU HAMBURGUER */
/* 


/* PESQUISAR NA PÁGINA  */

.search {
    float: right;
    min-width: 285px;
    align-self: center;
}

.search input[type='text'] {
    padding: 6px;
    font-size: 17px;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
}

.search button {
    float: right;
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 10px;
}

.search button:hover {
    background-color: #ccc;
}

#cart-icon {
    font-size: 1.6em;
    cursor: pointer;
    align-self: center;
}

/* TITULO DA LOJA */

.sub-title {
    color: var(--white);
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
}

.sub-title h1 {
    font-size: 40px;
    text-shadow: 4px 4px 4px #aaa;
}

.sub-title p {
    font-size: 30px;
    font-style: italic;
}

.welcome-message {
    display: block;
    text-align: center;
    line-height: 100px;
    width: 100%;
    background: var(--rose-dust);
    color: var(--white);
    padding: 30px;
    margin-bottom: 40px;
}

.p-relative {
    position: relative;
}

.welcome-message h2 {
    font-size: 20px;
}


/* MEUS PRODUTOS */

#products {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.item-span {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 190px;
}

.item-span img {
    max-width: 80%;
    display: block;
    height: 250px;
    transition: transform 0.2s;
    border-radius: 3px;
}

.item-span img:hover {
    transform: scale(1.2) translateY(-40px);
}

.descricao {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 30px;
}

/* ADD TO CART */

.qty{
    background-color: #ddd;
    width: 25%;
    margin-bottom: 10px;
    padding: 6px;
    border: 1px solid #c2c2c2;
    box-shadow: 1px 1px 2px #ebebeb;
    border-radius: 4px;
}
.add-cart-button {
    background-color: var(--rose-dust);
    padding: 10px;
    width: 70%;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--white);
    cursor: pointer;
}
.add-cart-button:hover {
        background-color: #b56576bb;
        transition: all .4s ease-in-out;
}

.add-cart-button i {
    font-size: 1.2em;
}


/* FORMULARIO NEWSLATTER */

.container-news-contact {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    background-color: var(--rose-dust);
}

#form-newslatter {
    border-radius: 5px;
    width: calc(50% - 30px);
    min-height: 60px;
}

.newslatter-title {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid var(--white);
    margin-bottom: 20px;
    padding: 4px;
}

#form-newslatter input[type='text'] {
    width: 50%;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #c2c2c2;
    box-shadow: 1px 1px 2px #ebebeb;
    border-radius: 4px;
}

#form-newslatter input[type='submit'] {
    background-color: var(--y-in-mn-blue);
    color: var(--white);
    padding: 10px 20px;
    box-shadow: 1px 1px 3px var(--white);
    border: none;
    border-radius: 4px;
    float: inline-end;
    cursor: pointer;
}

#contact {
    width: calc(50% - 30px);
    min-height: 60px;
    border-radius: 5px;
    text-align: left;
    padding-left: 30px;
}

.contact-title {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid var(--white);
    margin-bottom: 20px;
    padding: 4px;
}

footer {
    font-size: 0.9em;
    margin: 10px;
    color: var(--special-black);
}

/* MEDIA QUERY */

@media (max-width: 650px) {
    #header {
        padding: 0;
    }
    .logo {
        display: none;
    }
    #header .hamburguer-menu {
        display: flex;
    }
    #header .search {
        min-block-size: fit-content;
    }
    #nav-bar {
        padding: 0;
        top: 0;
        height: auto;
        position: absolute;
        display: none;
    }
    #nav-bar ul {
        width: unset;
        flex-direction: column;
    }
}
