/* CARRINHO DE COMPRAS */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: white;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--rose-dust);
    color: white;
}

.modal-body {
    padding: 2px 16px;
    overflow-x: scroll;
}

.modal-footer {
    padding: 2px 16px;
    background-color: var(--rose-dust);
    color: white;
    display: flex;
    flex-direction: column;
}

.modal-footer button {
    font-family: inherit;
    cursor: pointer;
    width: 50%;
    height: 30px;
    font-weight: bold;
    align-self: center;
}

table {
    width: auto;
    font-family: inherit;
    max-height: min-content;
}

table,
th,
td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    padding: 15px;
}

td img {
    width: 100%;
}

